<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/navbar.css">
	<link rel ="stylesheet" href ="../css/hospisucc.css">


	<title>Document</title>
</head>
<body>

	<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body>
 <!--navbar-->
	<div class="page-wrapper">
 <div class="nav-wrapper">

  <nav class="navbar">
    <h5 class="heading">E- Government Blockchain Portal</h5>
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="nav no-search">

      <li class="nav-item"><a href="/register"></a></li>
      <li class="nav-item"><a href="/logout">Logout</a></li>

      <input class="search-input" type="text" placeholder="Search..">
    </ul>
  </nav>
  </div>
<h2 class="successline">Congratulations! <b>{{name}}</b> You have Successfully Registered for Appointment</h2>
<div class="boxing">
  <div class="successbox">
    <div class="hospisuccdetails">
<ul>
  <li>PATIENT NAME&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:{{name}}</li>
  <li>CONTACT NUMBER :{{contact}}</li>
  <li>BLOOD GROUP &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:{{blood}}</li>
  <li>GENDER &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:{{gender}}</li>
  <li> AADHAR NUMBER&nbsp&nbsp&nbsp:{{aadhar}}</li>
  <li>WEIGHT &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:{{weight}}</li>
  <li>SYMPTOMS&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:{{symptoms}}</li>
  
</ul>
</div>
  </div>
  </div>

</body>
</html>

</body>
</html>

